### BASE
SERVICE_NAME=account
APP_ENV=local
LOG_LEVEL=debug

### GRPC
GRPC_PORT=9001
GRPC_HOST=


### DATABASE
DB_DSN=postgres://postgres:postgres@postgres-auth:5432/account?sslmode=disable

### JWT
JWT_SECRET=jk3213hda

### TOKEN
ACCESS_TOKEN_TTL_MINUTES=30
REFRESH_TOKEN_TTL_DAYS=30
