### BASE
SERVICE_NAME=gateway
APP_ENV=local
LOG_LEVEL=debug

### GRPC
GRPC_PORT=9002
GRPC_HOST=0.0.0.0

### SERVICES
ACCOUNT_GRPC_HOST=account:9000
AUTH_GRPC_HOST=auth:9001

### JWT
JWT_SECRET=jk3213hda
